<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Components / Accordion - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">AutoGenius</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2" sec:authorize="isAuthenticated()">Welcome,
                        <th:block sec:authentication="name"></th:block>
                        !</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>
                            <th:block sec:authentication="name"></th:block>
                        </h6>
                        <span>Customer</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item" sec:authorize="!isAuthenticated()">
            <a class="nav-link " th:href="@{/catalog}">
                <i class="bi bi-grid"></i>
                <span>Catalog</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-heading">Pages</li>

        <li class="nav-item" sec:authorize="!isAuthenticated()">
            <a class="nav-link collapsed" th:href="@{/register}">
                <i class="bi bi-card-list"></i>
                <span>Register</span>
            </a>
        </li><!-- End Register Page Nav -->

        <li class="nav-item" sec:authorize="!isAuthenticated()">
            <a class="nav-link collapsed" th:href="@{/login}">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Login</span>
            </a>
        </li><!-- End Login Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item" sec:authorize="!isAuthenticated()">
            <a class="nav-link collapsed" th:href="@{/create}">
                <i class="bi bi-file-earmark"></i>
                <span>Create Car Offer</span>
            </a>
        </li><!-- End Create Car Offer Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/inquiries">
                <i class="bi bi-question-circle"></i>
                <span>Suggestions & Inquiries</span>
            </a>
        </li><!-- End Suggestions & Inquiries Page Nav -->

        <!-- class="nav-link" th:text="#{navbar_register}" th:href="@{/register}" -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-error-404.html">
                <i class="bi bi-dash-circle"></i>
                <span>Error 404</span>
            </a>
        </li><!-- End Error 404 Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-blank.html">
                <i class="bi bi-file-earmark"></i>
                <span>Blank</span>
            </a>
        </li><!-- End Blank Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/contact">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->

    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Car Catalog</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Catalog</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6" th:each="car : ${allCars}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${car.make} + ' ' + ${car.model}"></h5>
                        <ul style="margin: 0; padding: 0; list-style: none;">
                            <li>
                                <div class="slider">
                                    <ul>
                                        <li th:each="imagePath : ${car.imageFilePaths}">
                                            <img th:src="@{/assets/uploads/{fileName}(fileName=${imagePath})}"
                                                 alt="Image" style="max-width: 300px; max-height: 300px;">
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <p style="margin: 0;">
                                    Price <span style="font-size: 24px; color: #0074D9;" th:text="${car.price}"></span>
                                    $
                                </p>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <p style="margin: 0;">
                                    Date of manufacture <span style="font-weight: bold;"
                                                              th:text="${car.month} + ' ' + ${car.year}"></span>
                                </p>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <p style="margin: 0;">
                                    Engine type <span style="font-weight: bold;"
                                                      th:text="${car.engineViewModel.engineType}"></span>
                                </p>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <p style="margin: 0;">
                                    Power <span style="font-weight: bold;"
                                                th:text="${car.engineViewModel.power}"></span> <b>hp</b>
                                </p>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <p style="margin: 0;">
                                    Eurostandard <span style="font-weight: bold;"
                                                       th:text="${car.engineViewModel.euroStandard}"></span>
                                </p>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <p style="margin: 0;">
                                    Cubic capacity [cc] <span style="font-weight: bold;"
                                                              th:text="${car.engineViewModel.cubicCapacity}"></span> <b>cc</b>
                                </p>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <p style="margin: 0;">
                                    Transmission <span style="font-weight: bold;" th:text="${car.gearBoxType}"></span>
                                </p>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <p style="margin: 0;">
                                    Category <span style="font-weight: bold;" th:text="${car.category}"></span>
                                </p>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <p style="margin: 0;">
                                    Mileage [km] <span style="font-weight: bold;"
                                                       th:text="${car.engineViewModel.cubicCapacity}"></span> <b>km</b>
                                </p>
                            </li>
                            <li style="margin-bottom: 10px;">
                                <p style="margin: 0;">
                                    Color <span style="font-weight: bold;" th:text="${car.paint}"></span>
                                </p>
                                <br></li>
                            <li style="margin-bottom: 10px;">
                                <p style="margin: 0;">
                                    Posted on <span style="font-weight: bold;" th:text="${car.dateAdded}"></span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>AutoGenius</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>